* {
	font-family: Poppins;
}
a {
	text-decoration: none;
}
.navbar {
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-items: center;
	width: 80%;
	padding-top: 15px;
}
.main_logo {
	width: 287px;
}
.header_text {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: min(50%, 450px);
}
.header_text a {
	margin-right: 10%;
}
.text {
	font-size: 20px;
	line-height: 30px;
	/* identical to box height */
	color: #850b42;
}
.account {
	display: flex;
	align-items: center;
	justify-content: center;
}
#account-logo {
	font-size: 40px;
	color: #850b42;
	cursor: pointer;
}
#expand-logo {
	color: #850b42;
	cursor: pointer;
}
.account-expand {
	display: flex;
	position: absolute;
	top: max(100px, 10%);
	right: 5%;
	align-items: center;
	transition: 0.2s;
	opacity: 0;
	visibility: hidden;
}
.account-expand.active {
	transition: 0.2s;
	visibility: visible;
	background-color: white;
	opacity: 1;
}
.expand-dropdown {
	list-style: none;
	width: 200px;
	z-index: 999;
}
.dropdown-item {
	border-style: solid;
	border-width: thin;
	border-color: #850b42;
	background-color: white;
	padding-bottom: 15px;
	padding-top: 15px;
}
.dropdown-text {
	padding-left: 6px;
}
footer {
	padding: 30px 0;
	background-color: #850b42;
	color: #fff;
	text-align: center;
	font-family: Poppins;
}
.logout-btn {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	box-shadow: none;
	-moz-box-shadow: none;
	text-align: left;
	position: absolute;
}
.hero-wrapper .logout-btn {
	top: 45px;
}
.logout-form {
	height: 30px;
}
